<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <section id="monster" class="container">
        <h2>Monster Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="displayMonsterHealth"></div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>Your Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="displayPlayerHealth"></div>
        </div>
      </section>
      <section
        v-if="isGameOver"
        id="game-over"
        class="container"
      >
        <h2>Game Over</h2>
        <div class="">
          <p v-if="isLoss">You have been defeated.</p>
          <p v-if="isWin">You have slain the monster!</p>
          <p v-if="isDraw">You and the monster have both fallen.</p>
          <button @click="newGame">Start New Game</button>
        </div>
      </section>
      <section id="controls" v-if="!isGameOver">
        <button @click="attack">ATTACK</button>
        <button 
          @click="specialAttack"
          :disabled="isSpecialAttackAvailable" 
          >SPECIAL ATTACK
        </button>
        <button @click="heal">HEAL</button>
        <button @click="surrender">SURRENDER</button>
        <button v-if="testMode" @click="forceDraw">Force Draw</button>
      </section>
      <section id="log" class="container">
        <h2>Battle Log</h2>
        <ul>
          <li v-for="log in logMessages">
            <span :class="log.actionBy === 'Player' ? 'log--player' : 'log--monster'">
              {{ log.actionBy }}
            </span> 
            <span :class="log.actionType === 'attacks' ? 'log--damage' : 'log--heal'">
               {{" " + log.actionType}}
            </span> 
            for {{log.actionValue}}.
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>
